img {
    max-width: 200px;
    height: auto;
    opacity: 0.8;
    border-radius: 10px;
}
#bio {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
#name {
font-family: Trattatello, fantasy, monospace;
font-size: 60px;
color: aquamarine;
} 

#email {

}